[Unit]
Description=Steam Counts Notification Daemon

[Service]
Type=forking
ExecStart=/usr/local/sbin/scnd
Restart=on-failure

[Install]
WantedBy=default.target
